@functions
{
    [ViewData]
    public string ViewDataMessage { get; set; }

    [TempData]
    public string Stuff { get; set; }

    [ViewData]
    public string Title { get; set; } = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Sandbox</h2>
        <ul>
            <li>This sandbox should give you a quick view of a basic MVC application.</li>
            <li>@ViewDataMessage</li>
            <li>@Stuff</li>
        </ul>
    </div>
</div>
